/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height:60px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navbar: Logo and Image */
#logo{
    margin: 10px 34px;
}
#logo img{
    margin: 5px 5px;
    height: 60px;
}

/* Navbar: List Styling */
#navbar ul{
    display: flex;
    font-family: 'Cinzel', serif;
}
#navbar{
    position: relative;
}

#navbar ul li{
    /* color:white */
    list-style: none;
    font-size: 1.1rem;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}
#navbar ul li a:hover{
    background-color: black;
    color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 455px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url('bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.60;
}
#home h1{
    color: rgb(55, 16, 2);
    text-align: center;
    font-family: 'Crimson Text', serif;
}
#home p{
    color: rgb(55, 16, 2);
    text-align: center;
    font-size: 22px;
    font-family: 'Crimson Text', serif;
}

/* Utility Classes */
.h-primary{
    font-size: 2rem;
    padding: 5px;
}
.btn{
    padding: 11px 20px;
    border: 2px solid rgb(33, 3, 3);
    background-color: brown;
    color: white;
    margin: 20px;
    border-radius: 11px;
    font-size: 1.3rem;
    font-family: 'Cinzel', serif;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(141, 127, 121);
    color: black
}